* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    height: 100vh;
    font-family: "Nunito Sans", sans-serif;
}
  
.main{
    width: 969px;
    height: 1005px;
    margin:0px 136px 258px 335px;
    padding: 90px 70px 0px 70px;
}

.sidebar{
    position: fixed;
    left: 0;
    width: 260px;
    background-color: rgba(243, 243, 243, 1);
    height: 100%;
    overflow: auto;
    text-align: center;
}

.dashboard-heading{
    padding: 0px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-heading img{
    margin: 12px 20px;
    width: 25px;
    height: 25px;
}

.arrow-left{
    display: none;
}

h1{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}
  
.phase-heading-block{
    margin-top: 10px;
    height: 62px;
    border-radius: 5px 5px 0px 0px;
    padding: 0px 20px 0px 20px;
    background-color: rgba(253, 77, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.phase-content-block{
    padding: 35px 100px;
    border-radius: 0px 0px 5px 5px;
    border: 2px solid rgba(243, 243, 243, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;
}

.phase-content-block img{
    height: 72px;
    width: 72px;
}

.phase-content-block p{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
}

.start-button{
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 5px;
    color: rgba(253, 77, 0, 1);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.locked-button{
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    color:rgba(111, 111, 111, 1);
}

.locked-phase{
    margin-top: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    background-color:rgba(243, 243, 243, 1);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300px;
    text-align: right;
}

.phase-capture{
    font-weight: 800;
    margin-left: 20px;
    text-align: left;
}

.resources-block{
    margin-top: 70px;
}

.resource{
    display: grid;
    grid-template-columns: 0fr 1fr;
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 16;
}

.source{
    text-decoration: none;
    color: rgba(111, 111, 111, 1);
    cursor: pointer;
}

.resourse-arrow{
    margin-right: 20px;
}

h2{
    text-align: center;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 24px;
}




    
